<launch>
    <!-- Arguments -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="open_rviz" default="true"/>
    <arg name="map_file" value="/home/trantanb/maps/tic-tac-toe.yaml"/>
    <arg name="move_forward_only" default="false"/>
    <arg name="first_tb3"  default="robot_1"/>
    <arg name="second_tb3" default="robot_2"/>
    <arg name="multi_robot_name" default=""/>

    <!-- Turtlebot3 -->
    <group ns = "$(arg first_tb3)">
        <include file="$(find tic-tac-toe)/launch/turtlebot3_1remote.launch">
            <arg name="model" value="$(arg model)" /> 
            <arg name="multi_robot_name" value="$(arg first_tb3)"/>
        </include>
    </group>
    <group ns = "$(arg second_tb3)">
        <include file="$(find tic-tac-toe)/launch/turtlebot3_2remote.launch">
            <arg name="model" value="$(arg model)" />
            <arg name="multi_robot_name" value="$(arg second_tb3)"/> 
        </include>
    </group>
    

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="global_frame_id" value="map" />
        <param name="frame_id" value="map" />
    </node>


    <group ns = "$(arg first_tb3)">
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
            <param name="global_frame_id" value="map" />
            <param name="frame_id" value="map" />
        </node>
    </group>

    <group ns = "$(arg second_tb3)">
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
            <param name="global_frame_id" value="map" />
            <param name="frame_id" value="map" />
        </node>
    </group>

    <!-- AMCL -->
    <include file="$(find tic-tac-toe)/launch/amcl_robot1.launch"/>
    <include file="$(find tic-tac-toe)/launch/amcl_robot2.launch"/>


    <!-- MOVE_BASE -->
    
    <include file="$(find tic-tac-toe)/launch/move_base_1.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="move_forward_only" value="false"/>
    </include>
    
    
    <include file="$(find tic-tac-toe)/launch/move_base_2.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="move_forward_only" value="false"/>
    </include>
    
    

    <!-- rviz -->
    
    
    <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>

    
</launch>